@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Paytone One';
    src: url('path-to-your-font-file.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
